/* :root { */
/*     --primary-color: #090909; */
/*     --primary-bg: #080808; */
/*     --secondary-color: #fffffa; */
/*     --tritary-color: #fcb103; */
/*     --disabled-color: #2f2f2f; */
/*     --shadow-color: #444444; */
/* } */
/* .light_theme { */
/*     --primary-color: #fdfdfd; */
/*     --primary-bg: #fdfdfd; */
/*     --secondary-color: #080808; */
/*     --tritary-color: #fcb103; */
/*     --disabled-color: #cccccc; */
/*     --shadow-color: #aaaaaa; */
/* } */
:root {
    --primary-color: #241623;
    --primary-bg: #241623;
    --secondary-color: #E9D2C0;
    --tritary-color: #417B5A;
    --disabled-color: #D0CEBA;
    --shadow-color: #2E5EAA;
}
/* .light_theme { */
/*     --primary-color: #291F1E; */
/*     --primary-bg: #291F1E; */
/*     --secondary-color: #C4D6B0; */
/*     --tritary-color: #477998; */
/*     --disabled-color: #F64740; */
/*     --shadow-color: #A3333D; */
/* } */
/* .light_theme { */
/*     --primary-color: #2D3047; */
/*     --primary-bg: #2D3047; */
/*     --secondary-color: #ffffff; */
/*     --tritary-color: #1B998B; */
/*     --disabled-color: #ED217C; */
/*     --shadow-color: #FF9B71; */
/* } */
/* .light_theme { */
/*     --primary-color: #273043; */
/*     --primary-bg: #273043; */
/*     --secondary-color: #EFF6EE; */
/*     --tritary-color: #F02D3A; */
/*     --disabled-color: #D2D4C8; */
/*     --shadow-color: #9197AE; */
/* } */
.light_theme {
    --primary-color: #07072B;
    --primary-bg: #07072B;
    --secondary-color: #EAE9FC;
    --tritary-color: #C2004D;
    --disabled-color: #3197D8;
    --shadow-color: #9197AE;
}

:root {
    font-family: Calibri;
}
.alt_font {
    font-family: Pixel;
}
.accent {
    color: var(--tritary-color);
    display: inline;
}

* {
    /* font-family: Pixel; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}

body {
    background: var(--primary-bg);
}

.navbar-spacer {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
}

button.spec {
    background: transparent;
    /* border-radius: 50%; */
    border-color: transparent;
    /* border: 2px solid; */
    display: flex;
    justify-content: left;
}
button.spec:hover {
    color: var(--tritary-color);
    cursor: pointer;
}
/* button.spec:hover .fa-solid { */
/*     color: var(--primary-color); */
/* } */

.navbar {
    background-image: linear-gradient(to bottom, var(--primary-color) 40%, #00000000 100%);
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    position: sticky;
    top: -1px;
    z-index: 999;
}

.navbar_container {
    padding: 20px 0 0 0;
}

.nav_list {
    list-style-type: none;
}

.nav_item {
    float: left;
}

.nav_link {
    text-decoration: none;
    margin: 0 10px 0 10px;
}

a.active {
    -webkit-text-fill-color: var(--tritary-color);
    text-decoration: none;
    font-weight: bold;
}

.introduction {
    display: flex;
    justify-content: center;
    position: sticky;
    flex-wrap: wrap;
    margin: 0px 10% 80px 10%;
}

.fa-brands {
    color: var(--shadow-color);
}

.i_col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: -30px 0 0 0; */
}

a, a:hover, a:active, a:visited {
    text-decorations: none;
    color: var(--secondary-color);
}
a.tlink, a:hover, a:active {
    color: var(--tritary-color);
}
/* a.tlink { */
/*     color: var(--tritary-color); */
/* } */

hr {
    margin: 40px 10% 20px 10%;
    border-color: var(--disabled-color);
}
hr.sp {
    margin: 200px 10% 20px 10%;
}
.footer {
    margin: 0 10% 20px 10%;
    display: flex;
    justify-content: space-between;
}

.i_text {
}

.profiles_div {
    margin: 10px 0 10px 0;
}

.profiles {
    margin: 0 10px 0 0;
    text-decoration: none;
    font-size: 34px;
}

.message {
    font-size: 0.9rem;
}

.me {
    vertical_align: middle;
    margin: 0 30px 0px 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.constr {
    margin: auto;
    width: 300px;
}

.quicky {
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
}

.kofi {
    margin: auto;
    width: 300px;
}

.cont {
    margin: 0 10% 0 10%;
}

.about-section {
    margin: 40px 20%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    font-size: 1.5rem;
}

.blob-brace {
    font-size: 20rem;
    font-family: Pixel;
    margin: -10px 20px 0 20px;
}

.pattern {
    height: 100px;
    margin: 0 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, var(--primary-bg), var(--primary-bg) 12px, var(--tritary-color) 0px, var(--tritary-color) 25px );
    z-index: -1;
}

.cci {
    margin: 0 10px;
    padding: 15px 20px;
    font-size: 1.13rem;
    background: var(--primary-bg);
    font-weight: bold;
}

.apple {
    width: 100px;
}

@media screen and (max-width: 675px) {
    .i_col {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 30px 0 0 0;
    }

    .about-section {
        flex-direction: column;
        font-size: 1rem;
        margin: 0 10% 40px 10%;
    }
}
