* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #090909;
}

.navbar {
    background-image: linear-gradient(to bottom, #080808 30%, #12121200 100%);
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    padding: 20px 0 0 0;
}

.cont {
    margin: 0 20% 0 20%;
}

#lorem {
    color: white;
}

#navbar_home {
    font-family: Nabla;
    -webkit-text-fill-color: white;
    text-decoration: none;
    margin: 0 30px 0 30px;
}

#navbar_about, #navbar_projects {
    font-family: Pixelify_Sans;
    -webkit-text-fill-color: white;
    text-decoration: none;
}

.introduction {
    display: flex;
    justify-content: center;
    position: sticky;
    margin: 0 0 50px 0;
}

.me {
    vertical_align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
